<mrs-person-label person-id="vm.personId"></mrs-person-label>

<div class="panel">

    <button ng-click="vm.overview()" class="btn btn-info btn-block btn-lg"><i class="fa fa-sticky-note-o pull-left"></i>Summary</button>

    <div class="panel-body">

        <div class="row">
            <button ng-click="vm.vitals()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-stethoscope pull-left"></i>Vitals</button>
            <button ng-click="vm.complaints()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-heartbeat pull-left"></i>Complaints</button>
            <button ng-click="vm.examinations()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-hospital-o pull-left"></i>Examinations</button>
            <button ng-click="vm.investigations()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-flask pull-left"></i>Investigations</button>
            <button ng-click="vm.diagnoses()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-user-md pull-left"></i>Diagnosis</button>
            <button ng-click="vm.medicines()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-eyedropper pull-left"></i>Medication</button>
            <button ng-click="vm.procedures()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-medkit pull-left"></i>Procedures</button>
            <button ng-click="vm.signoff()" class="btn btn-danger btn-block btn-lg"><i class="fa fa-sign-out pull-left"></i>Outcome</button>
        </div>

    </div>

</div>