<form name="editForm" role="form" novalidate  show-validation>

    <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label col-xs-4" for="field_date">Registration Date</label>
            <div class="input-group col-xs-8">
                <input id="field_date" type="text" class="form-control" autocomplete="off" name="date" uib-datepicker-popup="{{dateformat}}"
                    ng-model="vm.pnc.date" is-open="vm.datePickerOpenStatus.date" required/>
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
            <div class="col-xs-8  col-xs-offset-4" ng-show="editForm.date.$invalid">
                <p class="help-block" ng-show="editForm.date.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-4" for="field_delivery_date">Date Of Delivery </label>
            <div class="input-group col-xs-8">
                <input id="field_delivery_date" type="text" class="form-control" name="delivery_date" ng-value="vm.delivery.date | date : 'y-MM-dd'"
                    ng-disabled="true" />

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-4" for="field_date">PNC Children</label>
            <div class="input-group col-xs-8 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Full name</th>
                            <th>Sex</th>
                            <th>Birth date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="child in vm.children">
                            <td>{{child.lastname + " "+ child.firstname}}</td>
                            <td>{{child.sex}}</td>
                            <td>{{child.birthdate | date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>



    <div class="col-xs-12">
        <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.close()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Close</span>
        </button>
        </div>
    </div>

</form>