<div class="col-xs-8" ui-view></div>

<div class="col-xs-4">

    <mrs-person-label person-id="vm.personId"></mrs-person-label>

    <div class="panel panel-primary">
        <div class="panel-heading">Patient Options</div>
        <div class="panel-body">
            <div class="row" ng-if="!vm.isUnknown()">

                <div class="col-xs-6" ng-hide="vm.isAdmitted()">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg" ng-click="vm.go('consultation.management.vitals.list')">Vitals</button>
                    </div>
                </div>

                <div class="col-xs-6" ng-if="vm.isNurseOrDoctor()">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg" ng-click="vm.go('consultation.management.consult.summary')">Consultation</button>
                    </div>
                </div>

                <div class="col-xs-6" ng-if="vm.isNurseOrDoctor() && !vm.isAdmitted()">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg" ng-click="vm.go('consultation.management.consult.medicines.list-dispense')">Medication</button>
                    </div>
                </div>

                <div class="col-xs-6" ng-if="(vm.isPharmacists() || vm.isPharmTech()) && !vm.isAdmitted()">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg" ng-click="vm.medication()">Medication</button>
                    </div>
                </div>

                <div class="col-xs-6" ng-if="vm.isNurseOrDoctor()">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg" ng-click="vm.hts()">HIV Testing</button>
                    </div>
                </div>

                <div class="col-xs-6" ng-if="vm.isNurseOrDoctor() && !vm.isAdmitted()">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg" ng-click="vm.go('consultation.management.art.overview')">ART</button>
                    </div>
                </div>

                <div class="col-xs-6" ng-if="vm.isFemale() && vm.isNurseOrDoctor() && !vm.isAdmitted()">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg" ng-click="vm.go('consultation.management.anc.overview')">ANC</button>
                    </div>
                </div>

                <div class="col-xs-6" ng-if="vm.isFemale() && vm.isNurseOrDoctor()">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg" ng-click="vm.go('consultation.management.pnc.overview')">PNC</button>
                    </div>
                </div>

                <div class="col-xs-6" ng-if="vm.isNurseOrDoctor() && vm.isAdmitted()">
                    <div class="form-group">
                        <button class="btn btn-block btn-success btn-lg" ng-click="vm.go('consultation.management.changeWards.layout')">Ward Transfer</button>
                    </div>
                </div>

                <div class="col-xs-6" ng-if="vm.isNurseOrDoctor() && !vm.isAdmitted()">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg" ng-click="vm.go('consultation.management.tb.overview')">TB</button>
                    </div>
                </div>


                <div class="col-xs-6" ng-if="vm.isNurseOrDoctor() && !vm.isAdmitted()">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg" disabled ng-click="vm.sti()">STI</button>
                    </div>
                </div>

                <div class="col-xs-6" ng-if="vm.isNurseOrDoctor() && !vm.isAdmitted()">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg" ng-click="vm.chronic()">Chronic</button>
                    </div>
                </div>

                <div class="col-xs-12" ng-if="vm.isInfant() && vm.isNurseOrDoctor() && vm.isAdmitted()">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg" ng-click="vm.essentialBabiesCare()">Essential Care for Every Baby</button>
                    </div>
                </div>

                <div class="col-xs-6" ng-if="vm.isInfant() && vm.isNurseOrDoctor()">
                   
                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg" ng-click="vm.go('consultation.management.imnci.overview')">IMNCI</button>
                    </div>
                </div>

                <div class="col-xs-6" ng-if="vm.isNurseOrDoctor() && !vm.isAdmitted()">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg" disabled ng-click="vm.fp()">Family Planning</button>
                    </div>
                </div>

                <div class="col-xs-12" ng-if="vm.isAdmitted() && vm.isFemale() && vm.isNurseOrDoctor()">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg" ng-click="vm.delivery()">Delivery</button>
                    </div>
                </div>


                <div class="col-xs-12" ng-if="vm.isAdmitted() && vm.isFemale() && vm.isNurseOrDoctor()">


                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg" ng-click="vm.go('consultation.management.quarterly-hourly.overview')">Quarter Hourly Observations</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-warning btn-lg" ng-click="vm.partogram()">Partogram</button>
                    </div>

                </div>

            </div>

            <div class="row" ng-if="vm.isUnknown()">
                <div class="col-xs-12">

                    <p class="text-danger">
                        <strong>Can not attend to patient with undefined sex or gender</strong>
                    </p>
                </div>

            </div>
        </div>

        <div class="panel-footer">
            <button class="=btn btn-danger btn-block btn-lg" ng-click="vm.go('consultation.purpose.signoff.options')">Next Patient</button>
        </div>

    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Prior Encounters</div>
        <div class="panel-body">
            <ul>
                <li ng-repeat="e in vm.encounters">
                    <span>                       
                        {{e.date }} - {{vm.getUserName(e.createdBy)}} - {{vm.getDepartmentName(e.departmentId)}}
                    </span>
                </li>
            </ul>
        </div>
    </div>

</div>