
<form name="editForm" role="form" novalidate  show-validation>


    <div class="modal-body">


  <form class="form-horizontal">
        <div class="form-group">
                <label for="stageNumber" class="col-xs-12 control-label"></span>&nbsp;&nbsp;Select Labour Stage</label>
                <div class="col-xs-12">
                    <label ng-repeat="option in vm.stageNumbers"><input
                            type="radio" class="largerCheckbox" name="stageNumber" ng-model="vm.stage.stageNumberId" 
                            ng-value="option.id"/> {{option.name}}&nbsp;&nbsp;&nbsp; </label>
                            
                </div>
            </div>
    </div>

        <div class="form-group">
            <label class="control-label" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.stage.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    required/>
                   <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
      
                </div>
            <div ng-show="editForm.startDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.startDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_startTime">Start Time</label>
                <div class="input-group">

              <input id="field_startTime" type="text" class="form-control" name="startTime" enable-date="false" datetime-picker="HH:mm" ng-model="vm.stage.startTime" is-open="vm.datePickerOpenStatus.startTime"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.startTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.startTime.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.startTime.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_endDate">End Date</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.stage.endDate" is-open="vm.datePickerOpenStatus.endDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.endDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.endDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_endTime">End Time</label>
                <div class="input-group">
                    <input id="field_endTime" type="text" class="form-control" name="endTime" enable-date="false" datetime-picker="HH:mm" ng-model="vm.stage.endTime" is-open="vm.datePickerOpenStatus.endTime"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.endTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.endTime.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.endTime.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

    </div>

    </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.close()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>