<form name="editForm" role="form" class="form-horizontal" novalidate  show-validation>


    <div class="modal-body">
        <div class="form-group">
            <label class="control-label col-xs-3" for="topicName" ng-model="vm.personHealthEducation.healthEducationTopicId">Health Topic</label>
            <div class="col-xs-7">{{vm.healthEducation.name}}</div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3" for="field_note">Health Education Type</label>
            <div class="col-xs-7">
                <label ng-repeat="option in vm.educationTypes"><input
                            type="radio" name="type" ng-model="vm.personHealthEducation.type"
                           ng-value="option" /> {{option}}&nbsp;&nbsp;&nbsp; </label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3" for="field_note">Notes</label>
            <div class="col-xs-7">
                <textarea class="form-control" name="note" id="field_note" ng-model="vm.personHealthEducation.note"></textarea>
            </div>
        </div>

    </div>
    <div class="col-xs-12">
        <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.close()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
            <button type="button" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary" ng-click="vm.save()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
        </div>
    </div>
</form>
