<div class="col-xs-5">

    <div class="col-xs-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 control-label">Fullname</label>
                <div class="col-xs-9">
                    <p class="form-control-static">{{vm.person.lastname + ' ' + vm.person.firstname}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Gender</label>
                <div class="col-xs-9">
                    <p class="form-control-static">{{vm.person.sex}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Age</label>
                <div class="col-xs-9">
                    <p class="form-control-static">{{vm.personService.age(vm.person)}}</p>
                </div>
            </div>
        </form>
    </div>

    <div class="col-xs-12">
        <ul>
            <li ng-repeat="a in vm.addresses">address here</li>
        </ul>
        <ul>
            <li ng-repeat="p in vm.phones">{{p.number}}</li>
        </ul>
        <ul>
            <li ng-repeat="e in vm.emails">{{e.address}}</li>
        </ul>
    </div>

</div>

<div class="col-xs-7">
    <div class="row">

        <div class="col-xs-5">
            <mrs-account-balance-label person-id="vm.personId"></mrs-account-balance-label>
        </div>

        <div class="col-xs-7">

            <button ng-click="vm.dispense()" class="btn btn-success btn-block btn-lg" type="button">Dispense Menu</button>

        </div>
    </div>
</div>

<div class="col-xs-8">
    <div class="panel panel-primary">
        <div class="panel-heading">Prescriptions</div>
        <div class="panel-body">

        </div>
    </div>

</div>

<div class="col-xs-4">

    <div class="panel panel-primary">
        <div class="panel-heading">Notifications</div>
        <div class="panel-body">

        </div>
    </div>

</div>