<div class="col-xs-12">
    <table datatable="ng" class="table table-striped table-bordered row-border hover">
        <thead>
            <tr>
                <th>Reason</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="reason in vm.iptReasons">
                <td>{{reason.name}}</td>
                <td>
                    <div class="pull-right">
                        <button type="button" ng-click="vm.select(reason.id)" class="btn btn-primary">Select</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>