<div class="panel panel-primary">
    <div class="panel-heading">Patient Visit Outcome</div>
    <div class="panel-body">
        <p>
            <button ng-click="vm.admission()" class="=btn btn-primary btn-lg">Admit Patient</button>
            <button ng-click="vm.discharge()" class="=btn btn-primary btn-lg">Discharge Patient</button>
            <button ng-click="vm.referal()" class="=btn btn-primary btn-lg">Refer Patient</button>
            <button ng-click="vm.nextQueue()" class="=btn btn-primary btn-lg">Send to Queue</button>
        </p>
    </div>
</div>