<div class="table-responsive">
    <table datatable="ng" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th><span>Lastname</span></span>
                </th>
                <th><span>Firstname</span></span>
                </th>
                <th><span>Sex</span></span>
                </th>
                <th><span>Birthdate</span></span>
                </th>
                <th ng-if="vm.ward.type=='MATERNITY'">Status</span>
                </th>
                <th ng-if="vm.ward.type=='MATERNITY'">MinsToNextReading</span>
                  
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in vm.people track by person.id">
                <td>{{person.lastname}}</td>
                <td>{{person.firstname}}</td>
                <td>{{person.sex}}</td>
                <td>{{person.birthdate | date:'mediumDate'}}</td>
                <td  ng-if="vm.ward.type=='MATERNITY'">
                    <span ng-if="vm.check(person.id).patientInDanger==true && vm.check(person.id).patientInActivePhase==true" class="text-danger">
    <a class="label-default label label-danger" href="#"><span class="fa fa-warning"></span>danger</a>
                    </span>
   <span ng-if="vm.check(person.id).patientInActivePhase==true  && vm.check(person.id).patientInDanger==false"  class="text-danger">
    <a class="label-default label label-warning" href="#"> active Phase</a>
                    </span>

                </td>
                <td ng-if="vm.ward.type=='MATERNITY'">
                    <span ng-if="vm.check(person.id).patientMinsToNextReading<0" class="text-danger">Overdue</span>
                    <span ng-if="vm.check(person.id).patientMinsToNextReading>=0">{{vm.check(person.id).patientMinsToNextReading}}</span>


                </td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">

                        <button type="button" ng-click="vm.onPersonSelected(person)" class="btn btn-primary btn-block btn-lg">
                                <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="hidden-xs hidden-sm"></span>
                        </button>


                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>