<div class="col-xs-12">

    <button class="btn btn-info btn-block btn-lg" ng-click="vm.onOverview()"><i class="fa fa-sticky-note-o pull-left"></i>Overview</button>

    <button class="btn btn-info btn-block btn-lg" ng-click="vm.onRegistration()"><i class="fa fa-sticky-note-o pull-left"></i>Registration</button>

    <div class="panel-body">

        <div class="row">
            <button ng-click="vm.onVitals()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-stethoscope pull-left"></i>Vitals</button>
            <button ng-click="vm.onArtVisit()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-calendar-plus-o pull-left"></i>Visit</button>
            <button ng-click="vm.onNewOi()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-id-badge pull-left"></i>New OI</button>
            <button ng-click="vm.onArtStatus()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-id-badge pull-left"></i>ART Status</button>
            <button ng-click="vm.onIptStatus()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-id-card-o pull-left"></i>IPT Status</button>
            <button ng-click="vm.onInvestigation()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-flask pull-left"></i>Investigations</button>
            <button ng-click="vm.onMedicines()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-eyedropper pull-left"></i>Treatment</button>
            <button ng-click="vm.onClose()" class="btn btn-danger btn-block btn-lg"><i class="fa fa-sign-out pull-left"></i>Close</button>
        </div>

    </div>

</div>