<style>
 
    
    input[type="radio"] {
        vertical-align: middle;
         width: 30px;
        height: 30px;
    }
</style>



<div class="col-xs-12">
    <hr/>
    <form name="editForm" class="form-horizontal" autocomplete="off">
        <div class="form-group">
            <label class="col-xs-2">ARV Status</label>
            <div class="col-xs-10">
                <div class="col-xs-4" ng-repeat="status in vm.artStatuses" ng-hide="status.name =='PMTCT Prophlaxis'">
                   <label> <input type="radio"  ng-model="vm.artStatus.artStatusId" ng-click="vm.save()" ng-value="status.id" name="artstatus" />
                    {{status.name}}</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3">ARV Regimen</label>
            <div class="input-group col-xs-5">
                <input type="text" autocomplete="off" ng-disabled="true" class="form-control" ng-model="vm.regimen.name">
                <div class="input-group-btn ">
                    <button ng-click="vm.regimens()" ng-disabled="!vm.artStatus.id" class="btn btn-primary btn-block" type="button"><span ng-show="!vm.regimen.id">Set</span><span ng-show="vm.regimen.id">Change</span></button>
                </div>

            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3">Reason</label>
            <div class="input-group col-xs-5">
                <input type="text" autocomplete="off" ng-disabled="true" class="form-control" ng-model="vm.reason.name">
                <div class="input-group-btn ">
                    <button ng-click="vm.reasons()" ng-disabled="!vm.artStatus.id" class="btn btn-primary btn-block" type="button"><span ng-show="!vm.reason.id">Set</span><span ng-show="vm.reason.id">Change</span></button>
                </div>

            </div>

        </div>
    </form>
</div>