<table class="table table-striped table-bordered row-border hover">
    <thead>
        <tr>
            <td colspan="11">
                <div class="pull-right">
                    <button type="button" ng-click="vm.add()" class="btn btn-success btn-lg"><i class="fa fa-plus"></i></button>
                </div>
            </td>
        </tr>
        <tr>
            <th>Number</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="phone in vm.personPhones">
            <td>{{phone.number}}</td>
            <td>
                <div class="pull-right">
                    <button type="button" class="btn btn-primary btn-lg" ng-click="vm.editPhone(phone)"><i class="fa fa-edit"></i> Edit</button>
                    <button type="button" class="btn btn-danger btn-lg" ng-click="vm.remove(phone)"><i class="fa fa-trash-o"></i> Remove</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>