<!--<mrs-person-label person-id="vm.personId"></mrs-person-label>-->
<div class="panel">
    <div class="panel-body">
        <div class="row">
            <button ng-click="vm.enrollment()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-hospital-o pull-left"></i>Enrollment</button>
            <button ng-click="vm.socialHistory()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-address-card-o pull-left"></i>Social History</button>
            <button ng-click="vm.medicalHistory()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-id-card pull-left"></i>Medical History</button>
            <button ng-click="vm.visitHistory()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-users pull-left"></i>Visit History</button>
            <button ng-click="vm.investigationHistory()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-users pull-left"></i>Investigation History</button>
            <button ng-click="vm.previousPregnancy()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-users pull-left"></i>Previous Pregnancy</button>
            <button ng-click="vm.close()" class="btn btn-danger btn-block btn-lg"><i class="fa fa-sign-out pull-left"></i>Back</button>
        </div>
    </div>
</div>