<div class="panel">

        <button class="btn btn-info btn-block btn-lg" ng-click="vm.overview()"><i class="fa fa-sticky-note-o pull-left"></i>Overview</button>
        <button class="btn btn-success btn-block btn-lg" ng-click="vm.registration()"><i class="fa fa-id-card pull-left"></i>Registration</button>

        <div class="panel-body">

            <div class="row">
                <button ng-click="vm.vitals()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-stethoscope pull-left"></i>Vitals</button>
                <button ng-click="vm.generalAssessment()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-user-md pull-left"></i>General Assessment</button>
                <button ng-click="vm.obestetricExamination()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-eye pull-left"></i>Obstetric Examination</button>                             
                <button ng-click="vm.investigations()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-flask pull-left"></i>Investigations</button>
                <button ng-click="vm.medicines()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-eyedropper pull-left"></i>Treatment</button>
               <button ng-click="vm.healthEducation()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-slideshare pull-left"></i>Health Education</button> 
                <button ng-click="vm.signoff()" class="btn btn-danger btn-block btn-lg"><i class="fa fa-sign-out pull-left"></i>Outcome</button> 
            </div>

        </div>

    </div>