<table datatable="ng" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th colspan="6">
                <div class="pull-right">
                    <button type="button" ng-click="vm.add()" class="btn btn-success pull-right"><i class="fa fa-plus fa-2x"></i></button>
                </div>
            </th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Name</th>
            <th>Value</th>
            <th>Unit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="vital in vm.vitals">
            <td>{{vital.date | date:"y-MM-dd"}}</td>
            <td>{{vital.date | date:"HH-mm"}}</td>
            <td>{{vital.name}}</td>
            <td>{{vital.value}}</td>
            <td>{{vital.unit}} </td>
            <td style="width: 25%">
                <div class="pull-right">
                    <button type="button" ng-click="vm.edit(vital.id)" class="btn btn-primary"><i class="fa fa-edit">Edit</i></button>
                    <button type="button" ng-click="vm.delete(vital.id)" class="btn btn-danger"><i class="fa fa-trash-o">Remove</i></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>