<mrs-person-label person-id="vm.personId"></mrs-person-label>

<div class="panel">

    <button ng-click="vm.overview()" class="btn btn-info btn-block btn-lg"><i class="fa fa-universal-access  pull-left"></i>Overview</button>

    <button disabled ng-click="vm.art()" class="btn btn-success btn-block btn-lg"><i class="fa fa-universal-access  pull-left"></i>ART Registration</button>

    <div class="panel-body">

        <div class="row">
            <button ng-click="vm.pretest()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-american-sign-language-interpreting pull-left" aria-hidden="true"></i>Pre-Test Counselling</button>
            <button ng-click="vm.testing()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-flask pull-left" aria-hidden="true"></i>Testing</button>
            <button ng-click="vm.posttest()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-sign-language pull-left" aria-hidden="true"></i>Post-Test Counselling</button>
            <button ng-click="vm.signoff()" class="btn btn-danger btn-block btn-lg"><i class="fa fa-sign-out pull-left"></i>Outcome</button>
        </div>

    </div>

</div>