<div class="col-xs-12">

            <button ng-click="vm.onOverview()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-universal-access  pull-left"></i>Overview</button>
                <button ng-click="vm.onRegistration()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-universal-access  pull-left"></i>Registration</button>

    <div class="panel-body">

        <div class="row"> 
            <button ng-click="vm.onVitals()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-stethoscope pull-left" aria-hidden="true"></i>Vitals</button>
            <button ng-click="vm.onExamination()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-building pull-left" aria-hidden="true"></i>Examinations</button>
             <button ng-click="vm.onTreatment()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-eyedropper pull-left" aria-hidden="true"></i>Treatment</button>
             <button ng-click="vm.onHealthEducation()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-slideshare pull-left" aria-hidden="true"></i>Health Education</button>
             <button ng-click="vm.onTbOutcome()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-flag-checkered pull-left " aria-hidden="true"></i>Tb Outcome</button>
           <button ng-click="vm.onClose()" class="btn btn-danger btn-block btn-lg"><i class="fa fa-sign-out pull-left"></i>Close</button>

        </div>

    </div>

</div>