
<div class="panel">
    <div class="panel-body">
        <div class="row">
            <button ng-click="vm.familyMembers()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-users pull-left"></i>Family Members</button>
            <button ng-click="vm.examinations()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-user-md pull-left"></i>Examinations</button>
            <button ng-click="vm.currentSymptoms()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-heartbeat pull-left"></i>Signs and Symptoms</button>
           
            <button ng-click="vm.pastMedicalHistory()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-hospital-o pull-left"></i>Past Medical History</button>
            <button ng-click="vm.drugHistory()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-file-text-o pull-left"></i>Drug History</button>
            <button ng-click="vm.investigationHistory()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-file-text pull-left"></i>Investigation History</button>
         <button ng-click="vm.initiation()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-id-card-o pull-left"></i>ART Initiation</button>
            <button ng-click="vm.back()" class="btn btn-danger btn-block btn-lg"><i class="fa fa-sign-out pull-left"></i>Back</button>
       
        </div>

    </div>

</div>