<div class="col-xs-12">
    <form name="editForm" class="form-horizontal" autocomplete="off">
        <div class="form-group">
            <label class="col-xs-3">Date Initiated on Art</label>
            <div class="input-group col-xs-5">
                <input id="field_date" type="text" class="form-control" ng-blur="vm.save()" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.artStatus.date"
                    is-open="vm.datePickerOpenStatus.date" required/>
                <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </div>
            </div>
            <div class="col-xs-5 col-xs-offset-3" ng-show="editForm.date.$invalid">
                <p class="help-block" ng-show="editForm.date.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group" >
            <label class="col-xs-3">ARV Regimen</label>
            <div class="input-group col-xs-8">
                <input type="text" autocomplete="off" ng-disabled="true" class="form-control" ng-model="vm.regimen.name">
                <div class="input-group-btn ">
                    <button ng-click="vm.regimens()" ng-disabled="!vm.artStatus.id" class="btn btn-primary btn-block" type="button"><span ng-show="!vm.regimen.id">Set</span><span ng-show="vm.regimen.id">Change</span></button>
                </div>

            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3">Reason</label>
            <div class="input-group col-xs-8">
                <input type="text" autocomplete="off" ng-disabled="true" class="form-control" ng-model="vm.reason.name">
                <div class="input-group-btn ">
                    <button ng-click="vm.reasons()" ng-disabled="!vm.artStatus.id" class="btn btn-primary btn-block" type="button"><span ng-show="!vm.reason.id">Set</span><span ng-show="vm.reason.id">Change</span></button>
                </div>

            </div>

        </div>
    </form>
</div>