<form class="form-horizontal" name="investigation">
    <div class="form-group">
        <label class="col-sm-3 control-label">Sample</label>

        <div class="col-sm-7">
            <p class="form-control-static">{{vm.sample.name}}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Investigation</label>

        <div class="col-sm-7">
            <p class="form-control-static">{{vm.labTest.name}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Lab Location:</label>
        <div class="col-xs-7">
            <label><input type="radio" name="labLocation"  ng-model="vm.selected.labLocation"  value="LOCAL" > Local</label>&nbsp;&nbsp;
            <label><input type="radio" name="labLocation" ng-model="vm.selected.labLocation" value="EXTERNAL" > External</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Select Lab:</label>
        <div class="col-xs-7">
            <label ng-repeat="lab in vm.labs"  ng-show="vm.selected.labLocation==lab.location">
                <input type="radio" ng-model="vm.personInvestigation.labId" ng-value="lab.id" name="lab"/> {{lab.name}}&nbsp;&nbsp;
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-3-offset col-xs-9 pull-right">
            <button class="btn btn-primary" ng-click="vm.save()">Save</button>
            <button class="btn btn-danger" ng-click="vm.close()">Cancel</button>
        </div>
    </div>

</form>